MONGO_URI=mongodb://localhost:27017/mean-db

TYPEORM_CONNECTION=postgres
TYPEORM_HOST=""
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=""
TYPEORM_DATABASE=FieldServiceDB
TYPEORM_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_SEED=key

IP_HOST=""
PORT=3015
ENVIRONMENT=dev
GLOBAL_PREFIX=api
GLOBAL_PREFIX_API=apidoc

STATUS_SERVICES_OK=1
STATUS_SERVICES_ERROR=0